// background
$bgPattern: url(/image/bg_texture.png);

// text
$textDefaultColor: #1C1C1C; // sumi
$textLightColor: whitesmoke;
$textLinkColor: #005CAF;

// theme color
$mainColor: #005CAF;
$subColor: #7DB9DE;
