@import "variables";

html {
    min-height: 100%;
}

body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: $textDefaultColor;
    background-color: #BDC0BA;
}

header {
    color: $textLightColor;
    text-align: center;
    padding: 3em;
    h1 {
        margin: 0;
        font-weight: bold;
        text-shadow: 0 0 0.3rem #080808;
    }
    p {
        margin: 0;
        text-shadow: 0 0 0.2rem #111111;
    }
    a {
        color: $textLightColor;
        &:hover {
            color: $textLightColor;
        }
    }
}

a {
    text-decoration: none;
    color: $textDefaultColor;
    &:hover {
        color: $textLinkColor;
    }
}

footer {
    padding: 1em;
    p {
        margin: 0;
    }
}
