@import "variables";

.lb-bg-kachi-kurotsurubami {
    background-image: linear-gradient(#08192D, #0B1013);
}

.lb-bg-gofun {
    background-color: #FFFFFB;
    background-image: $bgPattern;
}

.lb-bg-base {
    background-image: $bgPattern;
}


.lb-box-shadow-gray {
    box-shadow: 0 0 0.3rem gray;
}

.lb-box-shadow-lightgray {
    box-shadow: 0 0 0.4rem lightgray;
}


.card {
    border: none;
}
