@import "variables";

.lb-bg-mizu-byakugun {
    background-image: $bgPattern, linear-gradient(#81C7D4, #78C2C4);
}

.lb-bg-wasurenagusa-gunjyo {
    background-image: $bgPattern, linear-gradient(#7DB9DE, #51A8DD);
}

.lb-bg-kachi-kurotsurubami {
    background-image: linear-gradient(#08192D, #0B1013);
}

.lb-bg-lightgray {
    background-color: lightgray;
    background-image: $bgPattern;
}

.lb-bg-gofun {
    background-color: #FFFFFB;
    background-image: $bgPattern;
}


.lb-box-shadow-gray {
    box-shadow: 0 0 0.3rem gray;
}

.lb-box-shadow-lightgray {
    box-shadow: 0 0 0.4rem lightgray;
}


.card {
    border: none;
}
