@import "variables";

.lb-contents {
    border: 0.1rem gray;
    margin: 1.5rem 0;
    box-shadow: 0 0 0.25rem gray;
    padding: 1rem;
    border-radius: 0.25rem;
}

.lb-category-list {
    ul {
        margin-bottom: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            list-style: none;
            margin-right: 1rem;
        }
    }
}

.lb-navigation {
    display: flex;
    justify-content: space-between;
}

.lb-article-info {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}

.lb-article-categories {

}

.lb-article-created {
    p {
        margin: 0;
    }
}
